@import 'includes/variables';
@import 'includes/functions';
@import 'includes/hamburgers/hamburgers';
@import 'includes/mixin';
html {
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
}
html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}
body {
  overflow: auto;
}
a {
  text-decoration: none;
  color: $baseFontColor;

&:hover {
color: lighten($baseFontColor, 10%);
}


}
h2, h1 {
  font-size: rem(28px);
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0;
  color: $baseFontColor;
}
h1 {
  margin-top: 80px;
}
.page-container {
  display: block;
  z-index: 2;
  position: relative;
}
.header-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  // -webkit-backface-visibility: hidden;
  .region-header {
    display: flex;
    align-items: center;
    //width: 100%;
    box-sizing: border-box;
    padding: 30px calc(37vw - 368px);
    z-index: 20;
    justify-content: space-around;

    .hamburger-inner {
      background-color: white;
      &:before {
        background-color: white;
      }
      &:after {
        background-color: white;
      }
    }
    .harmonica-logo {
      width: 25%;
      max-width: 174px;
      img {
        display: block;
        width: 100%;
        height: auto;
        //   filter: invert(100%);
        //  -webkit-filter: invert(100%);

      }
    }

    .harmonica-main-menu {
      //width: 41%;
      margin-left: auto;
      width: 75%;
      @include media('<1040px') {
        display: none;
        position: absolute;
        top: $topBarHeight;
        ul {
          flex-direction: column;
          font-size: 21px;
        }

      }

      @include media('<1040px') {
        width: 100%;
        top: 115px;
        li.sf-depth-1.menuparent {
          width: 100%;
          @include media('<1040px') {
            > ul {
              position: static !important;
              text-align: center;
            }

          }
        }
        ul {
          // background-color: white;
          text-align: center;
        }
      }
    }
    .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      font-size: rem(17px);
      font-weight: bold;
      ul {
        a {
         // padding-right: 15px;
        }
      }
      a {
        color: white;
        text-transform: uppercase;
        transition: all 300ms ease-in;
        &:hover {
          color: white;
          text-decoration: none;
          &:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
        &:focus {
          color: $baseFontColor;
          text-decoration: none;
        }
        &:before {
          content: "";
          position: absolute;
          width: 83%;
          height: 3px;
          bottom: 10px;
          left: 17px;
          background: white;
          visibility: hidden;
          border-radius: 5px;
          transform: scaleX(0);
          transition: .25s linear;
        }
      }

    }
    &.scrolled {
      padding: 10px 20px 10px 20px;
      background-color: white;
      z-index: 20;
      box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.75);
      transition: all 300ms ease-in;
      .harmonica-logo {
        display: none;
      }
      .hamburger-inner {
        background-color: $baseFontColor;
        &:before {
          background-color: $baseFontColor;
        }
        &:after {
          background-color: $baseFontColor;
        }
      }
      .harmonica-main-menu {
        margin: 0 auto;
        a {
          color: $baseFontColor;
          transition: all 300ms ease-in;
          &:hover {
            color: #9b9b9b;
            text-decoration: none;
            &:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
          &:before {
            content: "";
            position: absolute;
            width: 83%;
            height: 3px;
            bottom: 10px;
            left: 17px;
            background: $baseFontColor;
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: .25s linear;
          }
        }
        li.sf-depth-1.menuparent {

          > ul {
            background: white;
          }
        }
        @include media('<1040px') {
          width: 100%;
          top: 75px;
          li.sf-depth-1.menuparent {
            width: 100%;
            > ul {
              background: white;
            }
            @include media('<1040px') {
              > ul {
                position: static !important;
                text-align: center;
              }

            }
          }
          ul {
            background-color: white;
            text-align: center;
          }
        }
      }
      .language-switcher {
        @include media('<1040px') {
          display: none;
        }
      }

    }
    .rwd-menu-control {
      display: none;
      @include media('<1040px') {
        display: block;
      }
    }
    .language-switcher {
      .dropbutton-single {
        .dropbutton-widget {
          border: 0;
          background: none;
        }
      }
    }
  }
  @include media('<1040px') {
    .harmonica-main-menu {
      .menu {
        a {
          color: $baseFontColor;
        }
      }
      margin: 0 auto;
      a {
        color: $baseFontColor;
        transition: all 300ms ease-in;
        &:hover {
          color: #9b9b9b;
          text-decoration: none;
          &:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
        &:before {
          content: "";
          position: absolute;
          width: 83%;
          height: 3px;
          bottom: 10px;
          left: 17px;
          background: $baseFontColor;
          visibility: hidden;
          border-radius: 5px;
          transform: scaleX(0);
          transition: .25s linear;
        }
      }
      li.sf-depth-1.menuparent {

        > ul {
          background: white;
        }
      }
      @include media('<1040px') {
        width: 100%;
        top: 75px;
        li.sf-depth-1.menuparent {
          width: 100%;
          > ul {
            background: white;
          }
          @include media('<1040px') {
            > ul {
              position: static !important;
              text-align: center;
            }

          }
        }
        ul {
          background-color: white;
          text-align: center;
        }
      }
    }
  }
}
.content-container {
  .region-front-content {
    .harmonica-front-cover {
      height: 100vh;
      @include media('<900px') {
        height: 500px;
      }
      // perspective: 40px;
      overflow: hidden;
      // transition: all 300ms;
      .field--name-field-photo {
        //perspective: 110px;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 67% 0;
          // transform: scale(1.1);
          //   transition: all 600ms;
          @include media('<900px') {
            opacity: 0;
          }
        }
        @include media('<900px') {
          background: url('/themes/custom/harmonica/img/mobile-cover2.jpg');
        }
        @include media('<600px') {
          background-position-x: 40%;
        }
        @include media('<393px') {
          background-position-x: 50%;
        }
      }

      //&:hover {
      //  img {
      //    transform: scale(1.0);}
      //}
    }
  }
  .front-page-news {
    width: 56%;
    margin: 0 auto;
    color: $baseFontColor;
    margin-top: 80px;
    overflow: hidden;
    z-index: 10;
    position: relative;
    @include media('<1040px') {
      width: 90%;
    }
    .views-row {
      // display: flex;
      display: inline-block;
      padding: 0 15px;
      .news-wrapper {
        display: flex;
        padding: 0 15px;
        justify-content: space-around;
        align-items: flex-start;
        @include media('<1400px') {
          flex-direction: column;
          align-items: center;
        }
      }
      .text-column {
        // padding-left: 40px;
        width: 40%;
        @include media('<1400px') {
          padding-left: 0;
          width: 100%;
          margin-top: 25px;
        }
        .views-field-date {
          font-size: rem(24px);
        }

        .views-field-title {
          font-size: rem(47px);
          font-weight: bold;

          a {
            color: $red;
            text-transform: uppercase;
          }
        }

        .views-field-field-content {
          font-size: rem(20px);
          font-weight: bold;
        }
      }

      .image-column {
        width: 40%;
        max-width: 400px;

        .views-field-field-image {
          .field-content {

            img {
              width: 100%;
              height: auto;
              display: block;
              box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.75);
            }
          }
        }
        @include media('<1400px') {
          width: 100%;
        }
      }

    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1rem 0;
      padding-top: 40px;
      list-style-type: none;

      li {
        margin: 0 0.25rem;
      }

      button {
        display: block;
        width: rem(15px);
        height: rem(15px);
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: $red;
        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: $red;
        width: rem(20px);
        height: rem(20px);
      }

    }
    .news-arrow {
      background: url('/themes/custom/harmonica/img/arrow-next.jpg');
      width: 25px;
      height: 100px;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      z-index: 1000;
      &.next-arrow {
        right: -10px;
        transform: translate(-50%, -50%);
      }
      &.prev-arrow {
        top: 50%;
        transform: translate(0, -50%) rotate(180deg);
      }
    }
    .slick-list {
      padding: 0 10px;
      margin: 0 auto;
      padding-left: 40px;
    }
  }

  .front-page-about {
    // margin-top: 102px;
    background: url('/themes/custom/harmonica/img/fp-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 250px;
    margin-top: 160px;
    padding-top: 75px;
    // background-size: contain;
    @include media('<1300px') {
      margin-top: 0;
      padding-bottom: 50px;
      background: url('/themes/custom/harmonica/img/mobile-bckg.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      br {
        content: ' ';
        display: none;
      }
    }

    .first-section {
      width: 73%;
      margin-left: 16%;
      position: relative;
      color: white;
      @include media('<1532px') {
        width: 90%;
        margin-left: 8%;
      }
      @include media('<1300px') {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      }
      @include media('<600px') {
        width: 73%;
        margin: 0 auto;
      }

      h3 {
        font-size: rem(82px);
        font-weight: bold;
        margin: 0;
        top: 15%;
        position: absolute;
        left: -15px;
        opacity: 1;
        transition: all 600ms ease-in;
        &.unscrolled {
         // display: none;
        //  left: -200px;
          transform: translateX(-100%);
          opacity: 0;
        }
        @include media('<1833px') {
          font-size: rem(70px);
          top: 0;
        }
        @include media('<1300px') {
          position: static;
          //  font-size: rem(40px);
          font-size: rem(56px);
          text-align: center;
        }
        @include media('<600px') {
          font-size: rem(26px);
        }
      }
      h4 {
        font-size: rem(32px);
        font-weight: bold;
        margin: 0;
        top: 34%;
        position: absolute;
        opacity: 1;
        transition: all 900ms ease-in;
        &.unscrolled {
          // display: none;
          //  left: -200px;
          transform: translateX(-50%);
          opacity: 0;
        }
        @include media('<1833px') {
          top: 15%;
        }
        @include media('<1300px') {
          position: static;
          font-size: rem(32px);
          text-align: center;
        }
        @include media('<600px') {
          font-size: rem(26px);
        }
      }
      .first-title {
        p {
          font-size: rem(20px);
        }
        .intermediate-container {
          display: flex;
          @include media('<1300px') {
            flex-direction: column;
            align-items: center;
            font-size: rem(18px);
          }
          > p {
            font-size: rem(20px);
            align-self: flex-end;
            width: 40%;
            opacity: 1;
            transition: all 900ms ease-in;
            &.unscrolled {
              // display: none;
              //  left: -200px;
             // transform: translateX(-300px);
              opacity: 0;
            }
            @include media('<1300px') {
              width: 100%;
              font-size: rem(18px);
            }
          }
          .first-image {
            width: 56%;

            img {
              width: 100%;
              height: auto;
              max-width: 735px;
              box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.75);
              @include rounding();
              transition: all 600ms ease-in;
              &.unscrolled {
                transform: translateX(-40%);
                opacity: 0;
              }
            }
            @include media('<1300px') {
              width: 100%;
              display: inline-block;
            }
          }
        }
        p:nth-child(2) {
          width: 88%;
          transition: all 800ms ease-in;
          opacity: 1;
          &.unscrolled {
            // display: none;
            //  left: -200px;
            // transform: translateX(-300px);
            opacity: 0;
          }
          @include media('<1300px') {
            width: 100%;
          }
        }
      }
    }
    .second-section {
      width: 73%;
      margin-left: 9%;
      position: relative;
      color: white;
      display: flex;
      transition: all 2000ms;
      opacity: 1;
      &.unscrolled {
        transform: translateY(900px);
        opacity: 0;
      }
      @include media('<1565px') {
        width: 90%;
      }
      @include media('<1300px') {
        margin-left: 9%;
        flex-direction: column;
        align-items: center;
      }
      @include media('<600px') {
        width: 73%;
        margin: 0 auto;
      }
      h3.title {
        font-size: rem(76px);
        position: absolute;
        top: 2%;
        left: 47%;
        margin: 0;
        text-transform: uppercase;
        @include media('<1777px') {
          font-size: rem(46px);
        }
        @include media('<1300px') {
          position: static;
          font-size: rem(46px);
          text-align: center;
        }
        @include media('<600px') {
          font-size: rem(26px);
        }
      }
      p {
        font-size: rem(18px);
        align-self: flex-end;
        // margin-bottom: 70px;
        margin-left: 15px;
        width: 40%;
        @include media('<1300px') {
          width: 100%;
        }
      }
      .second-image {
        width: 56%;
        img {
          width: 100%;
          height: auto;
          max-width: 735px;
          box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.75);
          @include rounding();
        }
        @include media('<1300px') {
          width: 100%;
          display: inline-block;
        }

      }
    }

  }
  .region-front-content-low {
    margin-top: 125px;
  }
  .view-previous-editions {

    .view-content {
      display: flex;
      justify-content: space-around;
      padding: 0 calc(48vw - 502px);
      img {
        width: 100%;
        height: auto;
        box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.75);
      }
      @include media('<900px') {
        flex-wrap: wrap;
      }
    }
  }
}
#block-views-block-sponsors-block-1, #block-views-block-awards-block-1 {
  width: 66%;
  margin: 0 auto;
  margin-top: 125px;
  @include media('<1300px') {
    width: 90%;
  }
  .view-content {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    .slick-list {
      overflow: hidden;
    }
    .slick-slide {
      display: inline-block;
      margin: 0 30px;
      @include media('<720px') {
        margin: 0;
      }
      .field-content {
        text-align: center;
      }
    }
    img {
      max-height: 105px;
      width: auto;
      max-width: 300px;
    }

  }
}
.footer-container {
  margin-top: 105px;
  .region-footer {
    width: 26%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media('<840px') {
      width: 90%;
    }
    #block-footermenu {
      width: 150%;
      //border-top: 3px solid $baseFontColor;
      @include media('<900px'){
        width: 100%;
      }
      .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: 0;
        flex-wrap: wrap;
        margin: 0;

        @include media('<900px') {
          flex-direction: column;
          align-items: center;
        }
        .menu-item {
          width: 30%;
          text-align: center;
          &:nth-child(1) {
            text-align: left;
            @include media('<900px') {
              text-align: center;
            }

          }
          &:nth-child(3) {
            text-align: right;
            @include media('<900px') {
              text-align: center;
            }
          }

          @include media('<900px') {
            width: 100%;
            text-align: center;
          }
        }
      }
      a {
        color: $baseFontColor;
        font-weight: bold;
        font-size: rem(16px);
      }
    }
  }
  .footer-contact-info {
     margin-top: 20px;
    p {
      font-size: rem(18px);
      text-align: center;
    }
  }
  #block-socialmedia {
    p {
      display: flex;
      align-items: center;
      flex-direction: column;
      > img {
        margin-top: 15px;
        width: 100%;

      }
    }
  }

}
%link {
  color: white;
  text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}
.align-center {
  text-align: center;
}
.subpage-banner {
  > div {
    height: 100%;
    @include media('<805px') {
      background: url('/themes/custom/harmonica/img/mobile-cover2.jpg');
      background-size: cover;
      background-position: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media('<805px') {
        opacity: 0;
      }
    }
  }

}
.block-page-title-block {
  text-align: center;
}
.node {
  padding: 0 16%;
  @include media('<700px') {
    padding: 0 5%;
  }
  .text-formatted {
   // word-break: break-all;
  }
}
.node.node-id-11, .node-id-10 {
  padding: 0;
  .node__content {
    > .field--name-field-sections {
      > .paragraph {
        .field--name-field-sections {
          > .field__item {
            margin-bottom: 150px;

            .paragraph--type--text-with-image {
              display: flex;
              width: 66%;
              margin: 0 auto;
              align-items: center;
              @include media('<1040px') {
                flex-direction: column;
                align-items: center;
              }
              > .field--name-field-text {
                margin-left: 50px;
                @include media('<1040px') {
                  margin: 0;
                }
                h3 {
                  font-size: rem(50px);
                  font-weight: bold;
                  margin: 0;
                }
                h4 {
                  font-size: rem(27px);
                  font-weight: bold;
                  margin: 0;
                }
                li {
                  font-size: rem(22px);
                }
              }
              img {
                width: 100%;
                height: auto;
              }
            }
            &:first-child {
              .paragraph--type--text-with-image {
                h3 {
                  color: #0e638d;
                }
              }
            }
            &:nth-child(2) {
              .paragraph--type--text-with-image {
                h3 {
                  color: #df470a;
                }
              }
            }
            &:nth-child(3) {
              .paragraph--type--text-with-image {
                h3 {
                  color: #981507;
                }
              }
            }
            &:nth-child(2n) {
              .paragraph--type--text-with-image {
                > .field--name-field-image {
                  order: 1;
                  margin-left: 50px;
                  @include media('<1040px') {
                    order: 0;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        .about-section-1 {
          width: 70%;
          margin: 0 auto;
          display: flex;
          margin-left: 11%;
          align-items: center;
          > div:nth-child(2) {
            margin-left: 45px;
            width: 45%;
            h3 {
              margin: 0;
              color: #981507;
              font-size: rem(49px);
              @include media('<760px') {
                text-align: center;
              }
            }
            p {
              width: 100%;
              font-size: rem(23px);
              //text-align: justify;
              font-weight: bold;
              img {
                width: 100%;
                height: auto;
              }
            }
            @include media('<760px') {
              width: 100%;
              margin: 0 auto;
            }
          }
          .image-about {
            width: 55%;
            img {
              width: 100%;
              height: auto;
              @include rounding();
            }
            @include media('<760px') {
              order: 2;
              width: 100%;
            }
          }
          @include media('<1400px') {
            // margin-top: 0;
            width: 90%;
            margin-right: 8%;
            margin-left: 0;
          }
          @include media('<760px') {
            flex-direction: column;
            margin: 0 auto;
          }
        }
        .about-section-2 {
          width: 70%;
          margin: 0 auto;
          margin-top: calc(381px - 25vw);
          margin-left: 21%;

          @include media('<1400px') {
            margin-top: 0;
            width: 90%;
            margin-left: 8%;
          }
          @include media('<760px') {
            margin: 0 auto;
          }

          > div {
            display: flex;
            @include media('<760px') {
              flex-direction: column;
            }
            p {
              width: 31%;
              font-size: rem(23px);
              align-self: center;
              margin-right: 45px;
              font-weight: bold;
              padding-top: 90px;
              // text-align: justify;
              @include media('<760px') {
                width: 100%;
                margin: 0 auto;
              }
            }
            .image-about {
              width: 60%;
              @include media('<760px') {
                width: 100%;
              }
              img {
                width: 100%;
                height: auto;
                @include rounding();
              }
            }
          }
        }
      }
    }
  }
}
.node-id-17 {
  .text-formatted {
    word-break: normal;
  }
  position: relative;
  padding: 0;
  background: url('/themes/custom/harmonica/img/cover3.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .musicians-container { a{color: white; &:hover {
    color: lighten($baseFontColor,10%);
  }}
    padding: 0 calc(50vw - 643px);
    padding-bottom: 150px;
    @include media('<740px') {
      padding: 0 8%;
      text-align: center;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .section-1 {
      display: flex;
      position: relative;
      padding-top: 175px;
      @include media('<1300px') {
        flex-direction: column;
        align-items: center;
      }
      @include media('<740px') {
        text-align: center;
      }
      .image-1 {
        width: 43%;
        margin-right: 80px;
        @include media('<1300px') {
          width: 60%;
          margin: 0;
        }
        @include media('<740px') {
          width: 90%;
        }
        img {
          width: 100%;
          height: auto;
          @include rounding();
        }
        @include media('<1300px') {
          flex-direction: column;
          align-items: center;
        }
      }
      h3 {
        font-size: rem(38px);
      //  position: absolute;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        left: 30%;
        top: 32%;
        color: white;
        @include media('<1300px') {
          position: static;
        }
      }
      h4 {
        font-size: rem(22px);

       // position: absolute;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        left: 30%;
        top: 55%;
        color: white;
        @include media('<1300px') {
          position: static;
        }
      }
      .text-1 {
        align-self: flex-end;
        color: white;
        width: 49%;
        @include media('<1300px') {
          align-self: auto;
          margin: 0;
        }
      }
    }
    .section-2 {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;

      @include media('<1300px') {
        flex-direction: column;
        align-items: center;
      }
      @include media('<740px') {
        text-align: center;
      }
      .image-2 {
        width: 43%;
margin-right: 100px;
        @include media('<1300px') {
          width: 60%;
          margin: 0;
        }
        @include media('<740px') {
          width: 90%;
        }
        img {
          width: 100%;
          height: auto;
          @include rounding();
        }
      }
      h3 {
        font-size: rem(38px);
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: white;
      }
      .text-2 {
        margin-right: 80px;
        //align-self: flex-end;
        @include media('<1300px') {
          align-self: auto;
          // margin: auto;
        }
        @include media('<740px') {
          margin: 0;
        }
      }
    }
    ul {
      list-style: none;
      font-size: rem(21px);
      color: white;
      padding: 0;
    }
  }

}
#block-views-block-gallery-block-1 {
width: calc(1375px - 15vw);
  margin: 0 auto;
  margin-top: 50px;
  @include media('<1300px') {
    width: 90%;
  }
  .views-view-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .views-row {
      width: auto;
      padding: 0 4px;
      opacity: 0;
    }

  }

  img {
    border-radius: 5px;
  }

}

.musicians-text-block {
  width: 66%;
  margin: 0 auto;
  margin-bottom: 100px;
  p {

    text-align: center;
  }
}
ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
  right: 0 !important;
  a {
    text-align: right;
  }
}
#block-eventorganizer {
  text-align: center;
}