@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&subset=latin-ext');
$baseFont: 'Muli', sans-serif;
$baseFontSize: 24px;
$baseFontColor: #808285;
$red: #ca6163;
$topBarHeight: 100px;

$baseRoundingSize: 15px;